<div class="trans-detail-wrapper">
  <section class="trans-info">
    <div class="row" style="font-weight: bold;">物流状态: {{orderStatusName}}</div>
    <div class="row">承运公司: {{senderCom}}</div>
    <div class="row">运单编号: {{traces.LogisticCode}}</div>
  </section>
  <section v-if='isShowTransDetail' class="trans-worker">
    <div class="worker-img">
      <img src="http://yd.oss.rfgmc.com/2017000003148.png" alt="">
    </div>
    <div class="trans-worker-info">
      <!--<div class="trans-worker-name">派运员：志云</div>-->
      <div class="trans-worker-phone">派件员电话：{{senderPhone}}</div>
      <a class="trans-phone-icon" :href="phoneHref" v-if="senderPhone">
        <span class="fr-iconfont icon-phone">   </span>
      </a>
    </div>
    <div v-if='isShowIcon' class="phone-icon"></div>
  </section>
  <section v-if='isShowTransDetail' class="trans-detail-list">
    <div class="trans-detail-item" :class="{first: index === 0}" v-for="(item, index) in trancesSort">
      <div class="info">
        <div class="trans-detail-info">{{item.AcceptStation}}</div>
        <div class="trans-detail-time">{{item.AcceptTime}}</div>
      </div>
      <div class="timeline-border">
        <div class="timeline-point"></div>
      </div>
      <div class="bottom-border"></div>
    </div>
  </section>
</div>
