.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.input-style {
  font-size: 0.14rem;
  line-height: .18rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  border: 0;
  border-bottom: 1px solid white;
  outline: none;
  font-family: 'yahei', 'Arial';
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.input-style:focus {
  border-bottom: 1px solid #379dab;
}
.input-style.error {
  border-color: #ff404c;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixed-position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.order-item {
  font-size: 0.14rem;
  background: #fff;
  padding: 0.1rem;
  margin-bottom: 0.1rem;
  display: flex;
  justify-content: space-between;
}
.order-item .cl-left {
  width: 80%;
}
.order-item .cl-right {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e2e2e2;
  width: 0.6rem;
}
.order-item .row {
  margin-bottom: 0.1rem;
}
.order-item .title-info {
  font-size: 0.14rem;
  color: #a7a7a7;
}
.order-item .order {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-item .order-info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-item .info-wrapper .city {
  display: block;
  width: 0.7rem;
  overflow: hidden;
  font-size: 0.17rem;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.order-item .info-wrapper .name {
  display: block;
  width: 0.7rem;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
.order-item .order-status {
  position: relative;
  width: 1.2rem;
  text-align: center;
  color: #a7a7a7;
}
.order-item .order-status-text {
  position: absolute;
  transform: translate(-50%, -0.05rem);
  left: 50%;
  width: 0.8rem;
  height: 0.2rem;
  background: #fff;
  margin-top: .04rem;
}
.order-item .order-status-bg {
  width: 1.2rem;
  height: 0.3rem;
  background: url('images/orderStatusBg.png') no-repeat;
  background-size: contain;
}
.order-item .order-btn {
  color: #3795DE;
  white-space: nowrap;
}
.load-more .load-more-tips {
  color: #a7a7a7;
  display: flex;
  justify-content: center;
  align-items: center;
}
